<h1 class="title is-1 has-text-centered"><%= kitten.name %>'s profile</h1>
<br>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Personal Details
    </p>
  </header>
  <div class="columns">
    <div class="column is-5">
      <div class="card-image py-5">
        <figure class="image">
          <% photo = @photos.to_a[kitten.id % photos.to_a.length] %>
          <%= image_tag @flickr.photos.getSizes(photo_id: photo.id).to_a.last.source %>
        </figure>
      </div>
    </div>
    <div class="column is-5">
      <div class="card-content">
        <div class="content">
          <p>
            <strong>Age:</strong> <%= kitten.age %> Years
          </p>
          <br>
          <p class="title is-4">Cuteness:</p>
          <progress class="progress is-success" value="<%= kitten.cuteness %>" max="10"></progress>
          <br>
          <p class="title is-4">Softness:</p>
          <progress class="progress is-info" value="<%= kitten.softness %>" max="10"></progress>
        </div>
      </div>
    </div>
  </div>
</div>
